footer.footer
    
    div.assistance
        div.assistance__container.reveal
            h6.assistance__title NEED ASSISTANCE WITH YOUR ORDER?
            p.assistance__description.g-text Call customer services on:
            p.assistance__description.g-text UK: +44 (0)203 176 5279
            p.assistance__description.g-text US 1-800-542-9150 (Toll-Free)
            p.assistance__description.g-text AU: 1-800-467-058 (Toll-Free)
            p.assistance__description.g-text Rest of World: +44 (0)203 176 5279
            a.assistance__description.g-text(href="#") Or email us at support@opumo.com
            
        div.assistance__container.reveal
            img.assistance__img(src="img/footer-rating.webp", alt="Imagen de footer")
                
        div.assistance__container.reveal
            img.assistance__img(src="img/footer-card.webp", alt="Imagen de footer")
    //--------------------------------------
    div.contact
        div.contact__form
            div.contact__container
                div.contact__img.reveal
                    img.contact__logo(src="img/opumo.svg", alt="Logo de OPUMO")
                    div.contact__icons
                        img.contact__icon(src="img/facebook.svg", alt="Logo de OPUMO")
                        img.contact__icon(src="img/instagram.svg", alt="Logo de OPUMO")
                        
                p.contact__description.g-text.reveal Subscribe to our newsletter.
                include form.pug
        //--------------------------------------
        div.terms
            ul.terms__list.reveal
                a.terms__title INFORMATION
                a.terms__description.g-text(href="#") Contact Us
                a.terms__description.g-text(href="#") FAQs
                a.terms__description.g-text(href="#") Shipping & Returns
                a.terms__description.g-text(href="#") Track Your Order
                a.terms__description.g-text(href="#") Terms Of Use
                a.terms__description.g-text(href="#") Cookies Policy
                a.terms__description.g-text(href="#") Privacy Policy
                a.terms__description.g-text(href="#") OPUMO Sitemap
            ul.terms__list.reveal
                a.terms__title SHOPPING
                a.terms__description.g-text(href="#") Latest
                a.terms__description.g-text(href="#") Clothing
                a.terms__description.g-text(href="#") Footwear
                a.terms__description.g-text(href="#") Accessories
                a.terms__description.g-text(href="#") Furniture
                a.terms__description.g-text(href="#") Lighting
                a.terms__description.g-text(href="#") Brands
            ul.terms__list.reveal
                a.terms__title ABOUT US
                a.terms__description.g-text(href="#") Careers at OPUMO
                a.terms__description.g-text(href="#") Affiliate Marketing
                a.terms__description.g-text(href="#") Advertising on OPUMO
                a.terms__description.g-text(href="#") Customer Feedback
                a.terms__description.g-text(href="#") Social Responsibility
                a.terms__description.g-text(href="#") Customer Reviews
                a.terms__description.g-text(href="#") About us                                
    //--------------------------------------
    div.copy.g-text © 2019 Opumo - All Rights Reserved.
