form().form.reveal
    input.form__input(type="text", placeholder="First name")
    input.form__input(type="text", placeholder="Last name")
    select.form__input
        option(disabled) Country
        option United Kingdom
        option United States
        option Europe
        option Autralia
        option Rest of World
        
    input.form__input(type="email", placeholder="Email")
    input.form__button(type="submit", value="SUSCRIBE")
    a.form__ads(href="#") This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
