header.header
    //- **********                
    div.settings
        a.settings__search.g-text(href="#") search store
            img.settings__icon.g-icon(src="img/search.svg", alt="Icono de search")
        div.settings__icons
            img.settings__icon.g-icon(src="img/menu.svg", alt="Icono de search")
            img.settings__icon.g-icon(src="img/search.svg", alt="Icono de search")
        img.settings__logo(src="img/opumo.svg", alt="Logo de OPUMO")
            
        //- **********                    
        div.account
            a.account__link.g-text(href="#") about us
            a.account__link.g-text(href="#") global
            a.account__link.g-text(href="#") usd
            img.account__icon.g-icon(src="img/account.svg", alt="Icono de account")
            img.account__icon.g-icon(src="img/bag.svg", alt="Icono de bag")
            a.account__link.g-text(href="#") 0
    //- **********                
    nav.menu
        ul.menu__list
            li.menu__item
                a.menu__link.g-text(href="#") latest
                div.sub-menu__container
                    ul.sub-menu__list
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") COATS & JACKETS
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Bomber Jackets
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Coach Jackets
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Field Jackets
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Overshirts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Men's Overcoats
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Raincoats
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Gilets
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Mac Coats
                    //----------------------
                    ul.sub-menu__list
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") SHIRTS
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Camp Collar Shirts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Checkered Shirts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Denim Shirts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Plain Shirts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Short Sleeved Shirts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Zip Up Shirts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Overshirts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Printed Shirts
                    //----------------------
                    ul.sub-menu__list
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") T-SHIRTS
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Printed T-Shirts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Plain T-Shirts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Striped T-Shirts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Long Sleeve T-Shirts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Polo Shirts
                    //----------------------
                    ul.sub-menu__list
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") TOPS
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Sweatshirts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Hoodies
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Knitwear
                    //----------------------
                    ul.sub-menu__list
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") TROUSERS
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Chinos
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Casual Trousers
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Sweatpants
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Drawstring Trousers
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Slim-Fit Trousers
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Shorts    
                    //----------------------
                    ul.sub-menu__list
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") JEANS
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Chinos
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Selvedge Denim Jeans
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Slim Fit Jeans
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Straight Leg Jeans
                    //----------------------
                    ul.sub-menu__list
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") SPORTS CLOTHING
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Sports Jackets
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Sports Tops
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Sports Bottoms
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Sports Shorts
                    //----------------------
                    ul.sub-menu__list
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") SOCKS & UNDERWEAR
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Boxer Shorts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Socks
                    //----------------------
                    ul.sub-menu__list
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") SWIMWEAR
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Printed Swim Shorts
                        li.sub-menu__item
                            a.sub-menu__link.g-text(href="#") Plain Swim Shorts
            li.menu__item
                a.menu__link.g-text(href="#") clothing
                div.sub-menu__container
                        ul.sub-menu__list
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") COATS & JACKETS
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Bomber Jackets
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Coach Jackets
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Field Jackets
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Overshirts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Men's Overcoats
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Raincoats
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Gilets
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Mac Coats
                        //----------------------
                        ul.sub-menu__list
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") SHIRTS
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Camp Collar Shirts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Checkered Shirts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Denim Shirts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Plain Shirts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Short Sleeved Shirts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Zip Up Shirts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Overshirts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Printed Shirts
                        //----------------------
                        ul.sub-menu__list
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") T-SHIRTS
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Printed T-Shirts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Plain T-Shirts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Striped T-Shirts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Long Sleeve T-Shirts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Polo Shirts
                        //----------------------
                        ul.sub-menu__list
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") TOPS
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Sweatshirts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Hoodies
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Knitwear
                        //----------------------
                        ul.sub-menu__list
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") TROUSERS
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Chinos
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Casual Trousers
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Sweatpants
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Drawstring Trousers
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Slim-Fit Trousers
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Shorts    
                        //----------------------
                        ul.sub-menu__list
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") JEANS
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Chinos
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Selvedge Denim Jeans
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Slim Fit Jeans
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Straight Leg Jeans
                        //----------------------
                        ul.sub-menu__list
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") SPORTS CLOTHING
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Sports Jackets
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Sports Tops
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Sports Bottoms
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Sports Shorts
                        //----------------------
                        ul.sub-menu__list
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") SOCKS & UNDERWEAR
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Boxer Shorts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Socks
                        //----------------------
                        ul.sub-menu__list
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") SWIMWEAR
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Printed Swim Shorts
                            li.sub-menu__item
                                a.sub-menu__link.g-text(href="#") Plain Swim Shorts
            li.menu__item
                a.menu__link.g-text(href="#") footwear    
            li.menu__item
                a.menu__link.g-text(href="#") accessories
            li.menu__item
                a.menu__link.g-text(href="#") the home
            li.menu__item
                a.menu__link.g-text(href="#") gifts
            li.menu__item
                a.menu__link.g-text(href="#") brands
            li.menu__item
                a.menu__link.g-text(href="#") magazine
        
        
