div.magazine
    hr.magazine__hr
    h2.magazine__main-title from the magazine
    p.magazine__main-subtitle.g-text daily inspiration
    
    div.magazine__container
        
        div.magazine__item.reveal
            img.magazine__img(src="img/magazine-01.webp", alt="Imagen de magazine")
            h4.magazine__title.g-text CMA House: Socially oriented living spaces
            p.magazine__description.g-text 22nd November 2019
            
        div.magazine__item.reveal
            img.magazine__img(src="img/magazine-02.webp", alt="Imagen de magazine")
            h4.magazine__title.g-text Poufs that will instantly upgrade your living room
            p.magazine__description.g-text 22nd November 2019
            
        div.magazine__item.reveal
            img.magazine__img(src="img/magazine-03.webp", alt="Imagen de magazine")
            h4.magazine__title.g-text OPUMO x Timeless Garage: Viper Porsche 'Oelklappe'
            p.magazine__description.g-text 22nd November 2019
