div.top
    
    div.top__container
        div.top__item.reveal
            img.top__img(src="img/top-01.webp", alt="Imagen de top")
            h4.top__title accesories
            p.top__description Add the finishing touches to your look
            a.top__button(href="#") Shop Now
            
        div.top__item.reveal
            img.top__img(src="img/top-03.webp", alt="Imagen de top")
            h4.top__title FURNITE
            p.top__description Take your interior to another level
            a.top__button(href="#") Shop Now
            
    div.top__container
        div.top__item.reveal
            img.top__img(src="img/top-02.webp", alt="Imagen de top")
            h4.top__title CLOTHING
            p.top__description The new arrivals that you need on your radar
            a.top__button(href="#") Shop Now
            
        div.top__item.reveal
            img.top__img(src="img/top-04.webp", alt="Imagen de top")
            h4.top__title DECORATION
            p.top__description The accessories that will make your house a home
            a.top__button(href="#") Shop Now
            
