// ***** Colors G *****
$black: rgba(17, 17, 17, .8);
$white: #ffffff;
// ***** Colors E *****
$footer-i: #FBFAF9;
$footer-c: #F7F3EF;
$hr: #cecece;
// ***** Transition *****
$transition: .3s ease;
// ***** Gap *****
$gap-h: 25px;
$gap-v: 20px;
// ***** Queries *****
$mq-0: 900px;
$mq-1: 760px;
